<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>
<body>
<h2>位置情報登録</h2>
<form action="/list" method="get">
  <input type="text" name="x">
  <input type="text" name="y">
  <input type="submit" value="decide" style="width: 50px;height: 50px;">
</form>
    <table>
  <% @histories.each do |history|  %>
    <tr>
      <td><%= history.x %></td>
      <td><%= history.y %></td>
      <td><%= history.station_name %></td>
      <td>
        <form action="/<%= history.id %>/delete" method="post">
          <input type="submit" value="delete">
        </form>
      </td>
      <td>
        <form action="/<%= history.id %>/update_contents" method="post">
          <input type="submit" value="update">
        </form>
      </td>
      <% if history.favorite1 %>
        <td>
          <form action="/<%= history.id %>/update" method="post">
            <input type="submit" value="解除">
          </form>
        </td>
      <% else %>

        <td>
          <form action="/<%= history.id %>/update" method="post">
            <input type="submit" value="お気に入り">
          </form>
        </td>
      <% end %>

      
    </tr>
  <% end %>
<h2 style="font-size: 40px;color: green">favorites</h2>
  <table class="fav">
    <% @favorites.each do |favorite| %>
    <tr>
      <td class="fav_x"><%= favorite.x %></td>
      <td class="fav_y"><%= favorite.y %></td>
      <td class="fav_name"><%= favorite.station_name %></td>
    </tr>
    <% end %>

  </table>
</table>
<script type="text/javascript" src="form.js" charset="utf-8">

</script>
</body>
</html>